#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

#drum-machine {
  position: relative;
  text-align: center;
  border: 10px solid #64b3f4;
  background-color: #1e3c72;
}
#drum-machine .pad-bank {
  width: 332px;
  height: 272px;
  display: inline-block;
  margin: 20px;
}
#drum-machine .pad-bank .drum-pad {
  position: relative;
  float: left;
  width: 100px;
  height: 80px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding-top: 35px;
}
#drum-machine .control-container {
  width: 240px;
  height: 272px;
  display: inline-block;
  vertical-align: top;
}
#drum-machine .control-container .control {
  margin: auto;
}
#drum-machine .control-container .control .select {
  margin: auto;
}

.select {
  width: 50px;
  height: 20px;
  background-color: white;
  padding: 4px 4px;
}
.select .inner {
  width: 50%;
  height: 20px;
  background-color: #64b3f4;
}

#display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 200px;
  border: 3px solid white;
  margin: 30px auto;
  color: #ffff;
}